@font-face {
  font-family: "iconfont"; /* Project id 3465789 */
  src: url('iconfont.woff2?t=1655229456243') format('woff2'),
       url('iconfont.woff?t=1655229456243') format('woff'),
       url('iconfont.ttf?t=1655229456243') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 10px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-double-down:before {
  content: "\e848";
}

.icon-angle-double-up:before {
  content: "\e849";
}

